body {
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #2c3e50;
}

input {
    padding: 10px;
    width: 220px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4a6cf7;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3b5bdb;
}

#weatherResult {
    margin-top: 30px;
    padding: 20px;
    background-color: plum;
    display: inline-block;
    border-radius: 10px;
}

img {
    height:20%;
    width: 20%;
}

