body {
    font-family: "Segoe UI", Arial, sans-serif;

    background-image: url("images/climate.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


.app-container {
    background-color: rgba(217, 164, 164, 0.92);
    padding: 25px;
    height:70%;
    width: 20%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  
}


h1 {
    color: #123499ff;
    margin-bottom: 30%;
    margin-top:15%;
    font-size:35px;
}

input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    margin-top: 15px;
    padding: 15px;
    width: 100%;
    font-size: 24px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
    font-size:14px;
}

#weatherResult {
    margin-bottom: 49px;
    margin-top:15px;
    padding: 15%;
    background-color: #f1f5f9;
    border-radius: 8px;
    font-size:22px;
}

#weatherResult img {
    width: 45px;
    height:30px;
    
}

#cityInput{
    padding: 7px;
    font-size:20px;
    width:97%;

}

#hii{
    font-size:25px;
}